## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [42]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [43]:
# Your code here
#define the range of the population numbers
population = range(0,100)
#create the list of random numbers
sample_list_1= random.sample(population, k=80)
print(sample_list_1)
#ensure each value of the list is an integer
for i in sample_list_1: 
    int(i)
#check if the values are integers
type(sample_list_1[1])

[47, 69, 6, 2, 82, 59, 84, 8, 64, 62, 21, 41, 43, 52, 28, 35, 36, 74, 23, 94, 1, 81, 53, 34, 87, 61, 38, 67, 93, 54, 76, 49, 42, 90, 20, 32, 5, 40, 92, 85, 73, 70, 44, 51, 80, 17, 63, 91, 10, 55, 14, 37, 11, 78, 0, 97, 83, 72, 79, 66, 9, 22, 24, 77, 19, 95, 56, 13, 31, 86, 57, 30, 71, 75, 15, 99, 58, 33, 29, 25]

int

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [44]:
# Your code here
set1 = set((sample_list_1))
print(set1)
print(type(set1))

{0, 1, 2, 5, 6, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 97, 99}
<class 'set'>

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [45]:
# Your code here
population = range(0,100)
#define the empty list
sample_list_2 = []
#iterate in a range using the for loop. I only want a 80 items list so the range should be (0,80)
for i in range(0, 80):
    #The method random.randint() is used here to create a random number between 0 and 100
    x= random.randint(0,100)
    #the random number is added to the empty list
    sample_list_2.append(x)
print(sample_list_2)

[88, 33, 47, 18, 25, 82, 76, 11, 96, 78, 93, 8, 38, 84, 19, 47, 49, 72, 10, 15, 39, 25, 63, 25, 23, 65, 43, 85, 96, 94, 39, 7, 81, 62, 98, 6, 19, 32, 4, 42, 27, 99, 84, 26, 33, 21, 95, 21, 32, 54, 75, 67, 40, 10, 72, 29, 95, 100, 99, 61, 32, 4, 49, 65, 6, 12, 13, 17, 87, 47, 84, 29, 87, 85, 4, 4, 9, 12, 58, 44]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [46]:
# Your code here
set2 = set((sample_list_2))
print(set2)
print(len(set2))

{4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 21, 23, 25, 26, 27, 29, 32, 33, 38, 39, 40, 42, 43, 44, 47, 49, 54, 58, 61, 62, 63, 65, 67, 72, 75, 76, 78, 81, 82, 84, 85, 87, 88, 93, 94, 95, 96, 98, 99, 100}
53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [47]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 1, 2, 5, 14, 20, 22, 24, 28, 30, 31, 34, 35, 36, 37, 41, 51, 52, 53, 55, 56, 57, 59, 64, 66, 69, 70, 71, 73, 74, 77, 79, 80, 83, 86, 90, 91, 92, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [48]:
# Your code here
set4 = set2 - set1
print(set4)

{96, 65, 98, 4, 100, 7, 39, 12, 18, 88, 26, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [49]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{6, 8, 9, 10, 11, 13, 15, 17, 19, 21, 23, 25, 29, 32, 33, 38, 40, 42, 43, 44, 47, 49, 54, 58, 61, 62, 63, 67, 72, 75, 76, 78, 81, 82, 84, 85, 87, 93, 94, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [50]:
# Your code here
'''
set1 is an independent set based on a list of independent numbers with n=80, so the lenght is 80. 
set2 is an independent set based on a list of repeated numbers with n=80 so the lenth is <80 because the set does not allow repeated items
set3 is the difference of both sets set1-set2
set4 is the difference of set2 - set1.
set5 is the intersection of set set1 and set2. 

So, based on that, we got the following assumptions: 
len(set1)=80
len(set2) = len(set5) + len(set4) that is, all digits in common + exclusive set2 digits
len(set3) = len(set1) - len(set5) that is, all digits of set1 - common digits = set1 exclusive digits
len(set4) = len(set2) - len(set5) same reasoning than in set3
len(set5) = len(set1) - len(set3) = len(set2)-len(set4)
'''
#print all lengths to check
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
#check if assumptions are correct: 
print('Assumption 1 is ', len(set1) == 80)
print('Assumption 2 is ', len(set2) == len(set5) + len(set4))
print('Assumption 3 is ', len(set3) == len(set1) - len(set5))
print('Assumption 4 is ', len(set4) == len(set2) - len(set5))
print('Assumption 1 is ', len(set5) == len(set1)- len(set3)& len(set5) == len(set2)-len(set4))

80
53
39
12
41
Assumption 1 is  True
Assumption 2 is  True
Assumption 3 is  True
Assumption 4 is  True
Assumption 1 is  True

#### Create an empty set called `set6`.

In [51]:
# Your code here
#create an empty set
set6 = set(())

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [52]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 5, 6, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [53]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [54]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [55]:
# Your code here
set3 = set3.union(set4)
set3 = set3.union(set5)
set3 = set3.union(set1)
set3 = set3.union(set2)
set3

{0,
 1,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 47,
 49,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [56]:
# Your code here
'''
As list tolerate the .pop() method with the argument of the position of the item that we want to delete,
i transform the set into a list and then use the .pop method in it specifying the initial item position
'''
remove = list(set1).pop(0)
remove

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [57]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
for i in list_to_remove: 
    if i in set1: 
        set1.remove(i)
        
print(set1)

{0, 1, 2, 5, 6, 8, 9, 10, 11, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 97, 99}
{0, 2, 5, 6, 8, 10, 13, 14, 15, 17, 20, 22, 23, 24, 25, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 47, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 97}