# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [54]:
# Import reduce from functools, numpy and pandas
from functools import reduce
import numpy as np
import pandas as pd

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [ ]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [ ]:
# your code here
real_book = prophet[568:]
real_book

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [ ]:
# your code here
real_book

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [ ]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    import re
    pattern = "\{\d*\}"
    text = re.sub(pattern,'',x)
    return text

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [ ]:
prophet_reference = list(map(reference, real_book))
type(prophet_reference)
len(prophet_reference)
print(prophet_reference)

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [ ]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    import re
    pattern = '(\\n){1,}'
    text = re.sub(pattern,' ',x)
    return text

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [ ]:
prophet_line = list(map(line_break, prophet_reference))
type(prophet_line)
len(prophet_line)
print(prophet_line[:10])

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [ ]:
prophet_flat1 = []
prophet_flat2 = []
prophet_flat3 = []
prophet_flat = []


for i in prophet_line:
    x = i.split('|')
    prophet_flat1.append(x)



for i in prophet_flat1:
    x =''.join(i)
    prophet_flat2.append(x)



for i in prophet_flat2:
    x = i.split(' ')
    prophet_flat3.append(x)



for i in prophet_flat3:
    for y in range(len(i)):
        prophet_flat.append(i[y])
print(prophet_flat[:50])

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [ ]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    if x in word_list: 
        return False
    elif x not in word_list: 
        return True

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [ ]:
prophet_filter = list(filter(lambda x: word_filter(x)==True, prophet_flat))
print(prophet_filter)

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [ ]:
def word_filter_case(x):
        
    word_list = ['and', 'the', 'a', 'an']
    word_list_upper = []
    for i in word_list:
        i = i.upper()
        word_list_upper.append(i)
    

    if x.upper() in word_list_upper: 
        return False
    elif x not in word_list: 
        return True

In [ ]:
x = 'and'
print(word_filter_case(x))
y = 'aNd'
print(word_filter_case(y))

In [ ]:
prophet_filter_case = list(filter(lambda x: word_filter_case(x)==True, prophet_flat))
print(prophet_filter)

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [5]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    x = [a,b]
    x = ' '.join(x)
    return x

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [ ]:
prophet_string = reduce(lambda x,y: concat_space(x,y), prophet_filter_case)
print(prophet_string)

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [6]:
import os
data_sets = [pd.read_csv(os.path.join('../data',i)) for i in os.listdir('../data') if i.endswith('.csv')]
data = pd.concat(data_sets, axis = 0)
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

Let's look at the data using the `head()` function.

In [7]:
# your code here
data.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [8]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # your code here
    hourly = x/24
    return hourly

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [53]:
# your code here
data_sliced = data[['Iws','Is','Ir']]
my_dict = {}
for i,j in data_sliced.iteritems():
    my_dict[i] = hourly(j)
    
pm25_hourly = pd.DataFrame(my_dict)
pm25_hourly

             Iws   Is   Ir
0       0.074583  0.0  0.0
1       0.205000  0.0  0.0
2       0.279583  0.0  0.0
3       0.410000  0.0  0.0
4       0.540417  0.0  0.0
...          ...  ...  ...
43819   9.665417  0.0  0.0
43820   9.907500  0.0  0.0
43821  10.112500  0.0  0.0
43822  10.280000  0.0  0.0
43823  10.410417  0.0  0.0

[43824 rows x 3 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [89]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''

    st_dev = np.std(x)
    bool_list = []
    
    for i in x:
        if type(i)==int:
            bool_list.append(True)
        elif type(i)==float:
            bool_list.append(True)
        else:
            raise ValueError('Non-supported data')
            
    length = bool_list.count(True)
    return st_dev/(length-1)

In [90]:
sample_sd([1,2,3,4])

0.37267799624996495