# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [40]:
# import libraries
import pandas as pd
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [41]:
# import data set from Ironhack's database
pokemon = pd.read_csv('../Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [42]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [43]:
# your code here
type_1 = pokemon[['Type 1']].value_counts()
type_2 = pokemon[['Type 2']].value_counts()

lista= []
for i in type_1.index:
    for j in i:
        lista.append(j)
for i in type_2.index:
    for j in i:
        if j not in lista:
            lista.append(j)

all_types = pd.Series(lista)
all_types

0        Water
1       Normal
2        Grass
3          Bug
4      Psychic
5         Fire
6     Electric
7         Rock
8        Ghost
9       Ground
10      Dragon
11        Dark
12      Poison
13    Fighting
14       Steel
15         Ice
16       Fairy
17      Flying
dtype: object

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [44]:
# your code here
def name(x):
    pattern = '\w{1,}[M][e][g][a]'
    new_name = re.sub(pattern, 'Mega', x)
    return new_name
    
    
pokemon['Name'] = pokemon.apply(lambda x: name( x['Name']), axis=1)
# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called A/D Ratio whose value equals to Attack devided by Defense.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding A/D Ratio is 49/49=1.

In [45]:
# your code here
def division(x,y):
    return x/y
pokemon['A/D ratio'] = round(pokemon.apply(lambda x: division (x['Attack'], x['Defense']),axis = 1),2)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.10
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.17
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.33
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.74

#### Identify the pokemon with the highest `A/D Ratio`.

In [46]:
# your code here
#Way 1: 
pokemon.sort_values('A/D ratio', ascending=False).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [47]:
#Way 2: 
pokemon.loc[pokemon['A/D ratio'] == pokemon['A/D ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [48]:
# your code here
pokemon.loc[pokemon['A/D ratio'] == pokemon['A/D ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [49]:
# your code here
def type_combination(x,y):
    if type(x) == int or type(x) == float or x == 'NaN':
        return y
    elif type(y) == int or type(y) == float or y == 'NaN':
        return x

    else:
        lista = [x,y]
        z ='-'.join(lista)
        return z

In [50]:
pokemon['Combo type'] = pokemon.apply(lambda x: type_combination (x['Type 1'], x['Type 2']),axis = 1)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio,Combo type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.10,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.17,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.33,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.74,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [51]:
# your code here
pokemon_by_ratio = pokemon.sort_values('A/D ratio', ascending=False).head(5).reset_index()
pokemon_by_ratio

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio,Combo type
0,429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic
1,347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
2,19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
3,453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.12,Rock
4,348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

In [52]:
pokemon_by_ratio.iloc[[0,1,2,3,4],[2]]

                 Name
0  DeoxysAttack Forme
1            Carvanha
2       Mega Beedrill
3            Cranidos
4            Sharpedo

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [53]:
# your code here
pokemon_by_ratio.iloc[[0,1,2,3,4],[0,-1]]
pokemon_by_ratio_list=pokemon_by_ratio['Combo type'].tolist()
pokemon_by_ratio_list

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [54]:
# your code here

pokemon_checking = pokemon[pokemon['Combo type'].isin(pokemon_by_ratio_list)] #First, select only the types according to the previous exercise
pokemon_grouped = pokemon_checking.groupby(['Combo type']) #Then, group by combo type
#Then, use the groupby() object to create a new df, selecting the columns I want and add the method .mean()
pokemon_statistics = pokemon_grouped[['#','Total','HP','Attack','Defense','Sp. Atk', 'Sp. Def','Speed','Generation','Legendary','A/D ratio']].mean()
pokemon_statistics

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio
Combo type,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315833
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164211
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.258889
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291667

In [55]:
pokemon_extra_practice = pokemon.loc[pokemon['Generation'] == 1]
pokemon_extra_practice.loc[pokemon_extra_practice['Legendary'] == False].sort_values(['Speed'],ascending=False).head(20).reset_index()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio,Combo type
0,154,142,Mega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False,1.59,Rock-Flying
1,71,65,Mega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False,0.77,Psychic
2,19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
3,109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False,0.71,Electric
4,153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False,1.62,Rock-Flying
5,146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False,1.08,Electric
6,102,94,Mega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,0.81,Ghost-Poison
7,23,18,Mega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,1.00,Normal-Flying
8,56,51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False,1.60,Ground
9,70,65,Alakazam,Psychic,NaN,500,55,50,45,135,95,120,1,False,1.11,Psychic
10,130,121,Starmie,Water,Psychic,520,60,75,85,100,85,115,1,False,0.88,Water-Psychic
11,58,53,Persian,Normal,NaN,440,65,70,60,65,65,115,1,False,1.17,Normal
12,31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False,1.64,Electric
13,138,128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False,1.05,Normal
14,101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False,1.08,Ghost-Poison
15,134,125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False,1.46,Electric
16,137,127,Mega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False,1.29,Bug-Flying
17,132,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False,1.38,Bug-Flying
18,69,64,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,1,False,1.17,Psychic
19,84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False,1.43,Fire

In [56]:
def row_filter(df, cat_var, cat_values, sort_by):
    df = df[df[cat_var].isin(cat_values)].sort_values(by=sort_by, ascending=False)
    return df.reset_index(drop=True)

In [57]:
cat_var = 'Name'
cat_values = ['Pikachu', 'Charizard','Mewtwo']
sort_by = 'Speed'
row_filter(pokemon_extra_practice,cat_var, cat_values, sort_by)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D ratio,Combo type
0,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,1.22,Psychic
1,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08,Fire-Flying
2,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False,1.38,Electric